.navbar {
  margin-top: 10px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #272727;
  color: rgb(209, 209, 209);
  font-size: 0.85rem;
  background-image: linear-gradient(to bottom, #666666,#494949,#494949);
  box-shadow: 1px 1px 2px #1f1f1f;
  border-bottom: 7px solid #666666;
}

.navbar ul {
  display: flex;
  gap: 5px;
  list-style: none;
  background-color: #272727;
  padding: 4px 5px;
  border-radius: 3px;
}
.navbar li {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #67a298,#325458, #4d7f86);
  padding: 12px 40px;
}


.logo{
  cursor: pointer;
  background-image: linear-gradient(to bottom, #677ca2,#6fa1b7, #6fa1b7);
  padding: 12px 40px;
  border-radius: 3px;
  color: white;
  width: 200px;
  text-align: center;
}
.logo a{
  color: white;
  text-decoration: none;
}

.navbar p{
  margin-right: 10%;
  opacity: 0.3;
}