.header {
  margin: 2%;
  height: min-content;
  width: min-content;
}

.title {
  background-image: linear-gradient(to bottom, #00d2df , #12878d, #00d2df);
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 50px;
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(229, 229, 229);
  border-bottom: 3px solid rgba(0, 0, 0, 0.829);
}

.content {
  background-color: #0a0d0f42;
  height: 100%;
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(to left, #00d2df , #12878d, #00d2df) 1 100%;
  color: #fff;
  border-bottom: none;
}

.footer {
  float: inline-end;
  background-image: linear-gradient(to bottom, #00d2df , #12878d);
  margin: 0px 2px;
  height: 28px;
}
